<div class="content">
    <h1 class="title">Marco<br>Pollacci</h1>
    <p>
    - <span class="slimbold">PHP Senior Developer</span><br>
    <span style="padding-left: 8px;">Skilled with Zend Framework / Drupal</span><br><br>
    - <span class="slimbold">Angular Developer</span><br>
    <span style="padding-left: 8px;">Try to make great user experience</span><br><br>
    - <span class="slimbold">Portrait Photographer</span><br>
    <span style="padding-left: 8px;">Skilled with Photoshop / Lightroom</span><br />
    </p>
    - <span class="slimbold">Wanna talk?</span><br>
    <span style="padding-left: 8px;"> <a href="https://calendly.com/marco-pollacci/skype-hangout-call" target="_blank">Book Skype / Hangout Call!</a></span><br /><br />
    <ul class="ml-0 pl-0 social-icons">
      <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/marcopollacci/" title="Linkedin">Linkedin</a></li>
      <li><a class="github" target="_blank" href="https://github.com/marcopollacci" title="GitHub">GitHub</a></li>
      <li><a class="twitter" target="_blank" href="https://twitter.com/Cerins_Marco" title="Twitter">Twitter</a></li>
      <li><a class="instagram" target="_blank" href="https://www.instagram.com/cerins_photo/" title="Instagram">Instagram</a></li>
      <li><a class="flickr" target="_blank" href="https://www.flickr.com/photos/marcopollacci/" title="Flickr">Flick</a></li>
    </ul>
    <p>© <span id="date">{{ year }}</span> - Marco Pollacci</p>
</div>